<div class="container">

  <div style="overflow-x: scroll;">
  <table class="table table-hover table striped">
    <thead>
    <tr>
      <th>Sl.No</th>
      <th>Organisation</th>
      <th>Description</th>
      <th>Integrated</th>
      <th>Issued Docs</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td><b>Unique Identification Authority of India </b><br><small>Central Delhi,India</small></td>
      <td>UIDAI (https://uidai.gov.in/) issues eAadhaar to all Aadhaar card holders. All DigiLocker users who have synced their accounts with Aadhaar will get a digital Aadhaar in their accounts. </td>
      <td>Pull & Push</td>
      <td>1143647610 </td>

    </tr>
    <tr>
      <td>2</td>
      <td><b>Ministry of Road Transport and Highways </b><br><small>Moi, All states</small></td>
      <td>Driving License (DL) & Vehicle Registration Certificate (RC) as available in Ministry of Transport's SARATHI & VAHAN portals (http://morth.nic.in/) can be pulled by citizens into their DigiLocker accounts.</td>
      <td>Pull</td>
      <td>288627847 </td>

    </tr>
    <tr>
      <td>3</td>
      <td><b>Maharashtra State Board of Secondary and Higher Secondary Education </b><br><small>Pune city, Maharashtra</small></td>
      <td>Class X and XII marksheets and passing certificates of Maharashtra State Board of Secondary and Higher Secondary Education (https://mahahsscboard.maharashtra.gov.in/) are available in DigiLocker for years 1990 to 2016. </td>
      <td>Pull </td>
      <td>121008999 </td>

    </tr>
    <tr>
      <td>4</td>
      <td><b>Ministry of Petroleum and Natural Gas(IOCL) </b><br><small>Moi, All states</small></td>
      <td>eSubscription Voucher for LPG connections provided by IOCL (https://www.iocl.com/) are made available to citizens in their DigiLocker accounts.</td>
      <td>Push</td>
      <td>99755327</td>

    </tr>

    </tbody>
  </table>
  </div>


</div>






