/*@import '../../theme/sass/conf/conf';*/

.panel{
  background-color: #DCDCDC;
  min-height: 160px;
  border-radius: 5px;
  text-align: center;
  color: #7B7D7E;

}
.sharelogo{
  height: 70px;
  width: 90px;
  margin-top: 10px;
  margin-bottom: 10px;

}
